@font-face {
    font-family: 'google';
    src: url('../fonts/google.woff')
}

@font-face {
    font-family: 'googleBold';
    src: url('../fonts/google-bold.woff')
}

.keep-main {
    width: 100%;
    height: 100%;
    background-color: #202124;
    font-family: google, sans-serif;
    margin-top: 1rem;
}

.keep-main .container {
    width: 90%;
    margin: auto;
    background-color: #202124;
}

/* SEARCH */

.search-section {

    width: 30%;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    background-color: white;
    padding: 0.5rem;
}

.search-section input {
    width: 100%;
    font-size: 1.25rem;
    font-family: google, sans-serif;
    outline: none;
    border: none;
}

.search-section img {

    width: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    filter: grayscale(1);
    transition: ease-in-out 0.15s;
}

.search-section img:hover {

    filter: unset;
}

.add-note-section {

    width: 40%;
    background-color: white;
    margin-top: 1rem;
    padding: 0.5rem;
}

.add-note-section textarea, .add-note-section input {

    width: 100%;
    resize: none;
    padding: 0.5rem;
    font-family: google, sans-serif;
    border: none;
}

.add-note-tools img {

    width: 2rem;
    cursor: pointer;
}

.open-tools {

    width: 100%;
    justify-content: space-evenly;
}

.note input {

    outline: none;
    font-family: google, sans-serif;

}