@font-face {
    font-family: 'google';
    src: url('../fonts/google.woff')
}

@font-face {
    font-family: 'googleBold';
    src: url('../fonts/google-bold.woff')
}

body {

    width: 100%;
    /* height: 100vh; */
    
    
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    display: none;
    transition: ease-in-out 0.3s ;
}

.menu-open .screen {
    display: block;
    z-index: 1;
}

.keep-main {
    width: 100%;
    /* height: calc(100% - 5rem); */
    font-family: google, sans-serif;
    background-color: #202124;
}


.keep-content {

    width: 90%;
    margin: auto;
}

.keep-content-header {
    width: 100%;
    margin-top: 1rem;
    transition: ease-in-out 0.3s;
}

/* SEARCH */

.search-section {

    width: 40%;
    min-width: 20rem;
    max-width: 50rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    background-color: white;
    padding: 0.5rem;
}

.search-section input {
    width: 100%;
    font-size: 1.25rem;
    font-family: google, sans-serif;
    outline: none;
    border: none;
}

.search-section img {

    width: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
    filter: grayscale(1);
    transition: ease-in-out 0.15s;
}

.search-section img:hover {

    filter: unset;
}

.add-note-section {

    width: 40%;
    min-width: 20rem;
    max-width: 50rem;
    background-color: white;
    margin-top: 1rem;
    padding: 0.5rem;
    transition: ease-in-out 0.3s;
}

.add-note-section textarea, .add-note-section input {

    width: 100%;
    padding: 0.5rem;
    font-family: google, sans-serif;
    border: none;
    transition: ease-in-out 0.15s;
    outline: none;
}

.add-note-tools img {

    width: 2rem;
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

.open-tools {

    width: 100%;
    justify-content: space-evenly;
}

.note input, .note textarea {

    outline: none;
    font-family: google, sans-serif;
    width: 100%;
    background-color: transparent;
    color: white;
    border: transparent;
    transition: ease-in-out 0.15s;
}

.keep-main input {

    font-size: 1rem;
}

.keep-main textarea {

    max-height: 10rem;
}

.active-tool {

    background-color: rgba(255, 215, 0, 1);
}

.todo-form {
    width: 100%;
}

/* NOTE */

.note {
    border: 1px solid;
    border-color: #5f6368;
    background-color: #3A3B3E;
    cursor: pointer;
    padding: 0.25rem 1rem 0.75rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #e8eaed;
    transition: ease-in 0.25s;
    opacity: 1;
    width: 15rem;
    margin: 0.75rem;
    transition-property: opacity box-shadow, transform;
    border-radius: 0.5rem;
}

/* .keep-content .invisible {
    opacity: 0;
} */

.note:hover {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.5);
}

.keep-main .keep-content .show-note {
    opacity: 1;
}

.notes-sector-header {

    text-transform: uppercase;
    color: #9aa0a6;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    margin-inline-start: 2rem;
    letter-spacing: .07272727em;
}

.pinned-span, .unpinned-span {

    width: 100%;
    margin-top: 2rem;
}

.note .title {
    margin: 0.75rem auto;
}

.notes-section {
    width: 100%;
}

.notes-section .active-note {
    
    width: 40rem;
    font-size: 2rem;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    z-index: 2;
    transition: ease-out 0.25s;
    opacity: 0;
    padding: 2rem;
    transition-property: opacity box-shadow, transform;
}

.active-note-next {
    margin-left: 16.5rem;
}

.active-note:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

.active-note input, .active-note textarea{
    font-size: 1.5rem;
}

.note-img {

    max-width: 30rem;
}

.note-img img {
    width: 100%;
}

.note-video {

    width: 20rem;
}

/* .menu-open .note-video {

    width: 40rem;
    height: 41rem;
} */

.menu-open .iframe-span iframe {

    width: 100%;
    height: 100%;
}

.hidden-img {
    opacity: 0;
}

.note-todo li {
    list-style: unset;
}

.iframe-span {
    width: 100%;
    height: 100%;
}

audio {
    outline: none;
    width: 100%;
}

.map-span {
    width: 15rem;
    height: 15rem;
}

.map {
    width: 100%;
    height: 100%;
}